.container {
    background-color: black;
    color: white;
    margin: auto;
    height: 20vh;
    font-size: 10vh;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
    height: auto;
    grid-gap: 20px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icono,
.uno,
.dos,
.tres,
.cuatro,
.cinco,
.seis {
    border-radius: 15px;
    background-color: rgba(99, 96, 96, 0.199);
    border: 1px solid rgb(39, 39, 39)
    

}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/